html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

#push, #footer {
  height: 50px;
}
#footer {
  font-weight:bold;
}

@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container {
  width: auto;
  max-width: 680px;
}
.container .credit {
  margin: 20px 0;
}